:root {
  background-color: #51291E;

}

.page {
  display: flex;
}

.mainsection {
  flex: 1;
  text-align: center;
  margin-left: 5em;
}

.mainsection>h1, .form-container>h1 {
  color: #EDF4ED;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 5em;
  background-color: #79B791;
  border: 5px solid #301014;
}

a>img {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.link-wrapper {
  position: relative;
}

.img-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(237, 244, 237, 0.72);
  color: #301014;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  pointer-events: none;
}

.link-wrapper:hover .img-description {
  visibility: visible;
  opacity: 1;
}

.allpuppies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.singlepuppy {
  display: flex;
  justify-content: center;
}

.puppycard>img {
  object-fit: cover;
  height: 20rem;
}

.puppycard {
  border: 10px solid #301014;
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin: 1rem;
  background-color: #ABD1B5;
  color: #51291E;
}
.description>h3 {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.top-of-card {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

h2 {
  margin: 0.5em;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.addpuppyform {
  width: 15vw;
  border: 1px solid black;
  padding: 1em;
  text-align: right;
  color: #EDF4ED;
  font-weight: bold;
  -webkit-text-stroke: 0.1px black;
  
}
label {
  display: block;
  margin-bottom: 0.5em;
}
.form>button {
  margin-top: 0.5em;
}
